<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Your Crossways Visit</title>

    <!--/*/ <th:block th:include="fragments/general.html :: headers">
            </th:block> /*/-->
</head>
<body>
<div class="fullscreen">
    <div class="container-fluid" style="opacity: 100%">
        <div class="row text-center">
            <div class="col">
                <img src="/images/header_pic.jpg" alt="crossways pub" class="img-fluid"/>
            </div>
        </div>
        <p th:text="'Welcome to ' + ${identity} + '!'" class="lead">Welcome to the Crossways!</p>
        <p>Please register your visit with us below</p>
        <p><em><a href="/faq.html">(Why are we doing this?)</a></em></p>
    </div>

    <div class="container-fluid">
        <form action="/register" id="register" method="post" name="register" class="form-horizontal">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="form-group">
                <label for="name" class="control-label">Your name</label>
                <input autocomplete="name" name="name" type="text" pattern="[a-zA-Z][\w\s']*$" maxlength="100" required class="form-control">
            </div>
            <div class="form-group">
                <label for="phone" class="control-label">Contact number</label>
                <input autocomplete="tel" name="phone" type="tel" pattern="^[0+][\d\s]*$" maxlength="20" required class="form-control">
            </div>
            <div class="form-group">
                <label for="groupcount" class="control-label">Number of people in your group</label>
                <div class="col-3">
                    <select name="groupcount" required class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div>
                <input name='submit' type="submit" value="Register Visit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
</body>
</html>