<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Visitors</title>

    <!--/*/ <th:block th:include="fragments/general.html :: headers">
            </th:block> /*/-->
    <link href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" id="bsdp-css"
          rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <h1>Registered Visits</h1>
    <form action="/visits" class="form-horizontal" id="visits-since" method="post" name="visits-since">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <div class="form-group form-row">
            <div class="col-xs-2">
                <label class="lead" for="since-date"><span th:text="${visitors} + ' '"></span> Visitors Since&nbsp</label>
            </div>
            <div class="col-xs-1" id="date-field">
                <input class="form-control" id="since-date" name="since-date" required
                       th:value="${#temporals.format(fromdate)}"
                       type="text">
            </div>
            <div class="col-xs-2">
                <input class="form-control" name="Submit" type="submit" value="Change">
            </div>
        </div>
    </form>
    <div class="col-xs-2"><p th:text="'(' + ${registrations} + ' Discrete Registrations)'"/> </div>
    <table class="table table-striped table-bordered">
        <thead class="text-left">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Date of visit</th>
            <th>Group count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${visits.empty}">
            <td colspan="4">No visitors found</td>
        </tr>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.name}">Name</td>
            <td th:text="${visit.phone}">Phone</td>
            <td th:text="${#temporals.format(visit.date, 'dd-MMM-yyyy HH:mm')}">Date</td>
            <td th:text="${visit.groupcount}">Group count</td>
        </tr>
        </tbody>
    </table>
</div>
<!--/*/ <th:block th:include="fragments/general.html :: common-scripts">
        </th:block> /*/-->
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $('#date-field input').datepicker({
        format: "dd MM yyyy",
        todayHighlight: true
    });
</script>
</body>
</html>