<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Administrators</title>

    <!--/*/ <th:block th:include="fragments/general.html :: headers">
            </th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <p class="lead">List of Administrator Accounts</p>
    <table class="table table-striped table-bordered">
        <thead class="text-left">
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${admins.empty}">
            <td colspan="4">No admins found! WTF?</td>
        </tr>
        <tr th:each="admin : ${admins}">
            <td th:text="${admin}">Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>