<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Administrators</title>

    <!--/*/ <th:block th:include="fragments/general.html :: headers">
            </th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <p class="lead">New Administrator created</p>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td>Name</td>
            <td th:text="${name}">name</td>
        </tr>
        <tr>
            <td>Passphrase</td>
            <td th:text="${password}">passphrase</td>
        </tr>
        </tbody>
    </table>

    <p><strong>REMEMBER THIS PASSWORD!!!</strong></p>
    <p><strong>THIS IS THE ONLY TIME IT WILL BE SHOWN</strong></p>
</div>
</body>
</html>