<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Successful!</title>

    <!--/*/ <th:block th:include="fragments/general.html :: headers">
            </th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <img src="images/tick.png" alt="success" width="200" class="img-fluid mt-4 mb-4"/>
        </div>
    </div>

    <h1>Thank You!</h1>
    <h2>Your visit has been recorded.</h2>
    <br>
    <p th:text="'Date of Visit: ' + ${#temporals.format(customerVisit.date, 'dd-MMM-yyyy HH:mm')}" class="lead">21/1/20 15:45</p>
    <p th:text="'Name: ' + ${customerVisit.name}" class="lead">Fred Bloggs</p>
    <p th:text="'Phone: ' + ${customerVisit.phone}" class="lead">01234567890</p>
    <p th:text="'Number in group: ' + ${customerVisit.groupcount}" class="lead">5</p>
</div>
</body>
</html>